<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
	
        {% for users in userDetail %}
        <div>{{ users.fname }} {{ users.lname }}</div>
    {% endfor %}
    </body>
</html>
